{% extends 'base.html' %}
{% load static %}

{% block title %}Page Not Found — NT Housing Repairs{% endblock %}

{% block content %}
<div class="error-container">
    
    <div class="error-left">
         <div class="error-illustration">
        <img src="{% static 'images/404.png' %}" alt="Error">
        </div>
        
    </div>

    <div class="error-right">
        <h1>Page Not Found</h1>
        <p>
            We cannot find the page you are looking for.<br>
            It may have been moved, deleted, or never existed.
        </p>

        <div class="error-buttons">
            <a href="{% url 'home' %}" class="btn btn-primary">Visit Homepage</a>
            <a href="{% url 'request_list' %}" class="btn btn-outline">View Requests</a>
        </div>
    </div>

</div>
{% endblock %}